/* Selects the root element of the document */
:root{
  background-color: rgb(29, 26, 26);
}
/* * is CSS universal selector, which is used to select all items in an HTML file. */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; 
}

/* so the h1 gets centered but i think i would like it to be centered and up top...leaving some space for a logo or icon */
h1{
  font-size: 5.4rem;
  color: rgb(227, 227, 230);
  /* color: red; */
  margin-bottom: 5rem;
}
/* i think the h2 below was an accident or perhaps when i was planning on adding another header */
/* h2{
  font-size: 4.2rem;
  margin-bottom: 4rem;
} */

body{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 169);
}

body.correct {
  background-color: rgb(2, 147, 2);
  background-image: url(https://ca-times.brightspotcdn.com/dims4/default/926dc1f/2147483647/strip/true/crop/6500x3413+0+576/resize/1200x630!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F69%2F42%2Fa9b2b3db43e58426f0002322f65c%2Fla-tr-travel-flyguy-20191222-04.jpg);
  background-repeat: no-repeat;
}

body.wrong {
  background-color: rgb(86, 10, 10);
/* background-image: url(https://www.seekpng.com/png/detail/389-3899153_pig-roast-pig-roasting-over-fire.png); */
background-image: url(https://img.particlenews.com/image.php?type=thumbnail_580x000&url=03lbmI_0jLcFbxV00);
background-repeat: no-repeat;
/* background-position: center; */
/* center img blocked. work on this. */
}

#question{
  font-size: 3.9rem;
  background-color: rgb(29, 29, 201);
  color: white;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}

.btn{
  font-size: 3.9rem;
  color: white;
  margin-bottom: 5rem;
  padding: 10px;
  margin: 10px;
  background-color: rgb(29, 29, 201);
  border-radius: 50px;
  text-align: left;
}

.btn-grid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

/* I WISH i could get this whole thing to center but everytime i did that, my questions and answers would disappear and I would get some weird white box.  */
#question-container{
  width: 800px;
  max-width: 80%;
  /* background-color: white; */
  background-color: rgb(18, 18, 143);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px;
}

.play-btn, .continue-btn{
  font-weight: bold;
  padding: 10px 20px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* #answer-buttons{
  text-align: left;
} */